@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Splash&display=swap");
.AcademiaContainer {
  display: flex;
  position: absolute;
  top: 0px;
  flex-direction: column;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  z-index: 15;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
}

.NavAcademia{
  z-index: 10;
  display: flex;
    flex-direction: row;
    position: fixed;
    top:0px;
    width: 100vw;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    align-items: center;
}

.NavAcademia img{
  margin-left: 80vw;
  filter: brightness(3) saturate(0);
  cursor: pointer;
}

#aNavAcademia {
  
  display: flex;
  position: fixed;
  flex-direction: column;
  text-decoration: none;
  width: 400px;
}

#aNavAcademia h1 {
  font-family: 'Allerta', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0px;
  margin-left: 50px;
  padding-top: 17px;
  color: white;
  font-weight: 500;
}

#aNavAcademia h2 {
  margin: 0px;
  margin-left: 50px;
  font-family: 'Baloo Da 2', cursive;
  font-size: 16px;
  letter-spacing: 4px;
  color: white;
  font-weight: 100;
  padding-bottom: 10px;
}

.Modulo1 {
  display: flex;
  flex-direction: row;
  background-image: url(../../../../img/AcademiaLogos/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-position-y: bottom;
}

.Modulo1Div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;
}

.Modulo1 h1 {
  position: absolute;
  top: 93vh;
  left: 100px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
}

.Sena {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  height: 50%;
  padding: 30px;
  background-image: url(../../../../img/AcademiaLogos/5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #40403f;
  box-shadow: 0px 0px 10px black;
  animation: abrir 1s;
  overflow-y: auto;
}

.SenaLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.Sena h1,
.Sena h2,
.Sena p,
.Politecnico h1,
.Politecnico h2,
.Politecnico p {
  color: white;
  position: inherit !important;
  animation: abrirLetras 2s;
  text-align: left !important;
  font-family: "Baloo Da 2", sans-serif;
}

.Sena h1,
.Udemy h1,
.Politecnico h1,
.SheWorks h1 {
  font-size: 16px;
}

.Sena h2,
.Udemy h2,
.Politecnico h2,
.SheWorks h2 {
  font-size: 14px;
}

.Sena p {
  padding-top: 0px !important;
  margin: 0px !important;
}

.Sena img {
  width: 75px;
  filter: invert(0.4) sepia(1) saturate(10%) brightness(10);
  animation: abrirLogo 1s;
}

.Udemy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  height: 50%;
  padding: 30px;
  background-image: url(../../../../img/AcademiaLogos/6.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #40403f;
  box-shadow: 0px 0px 10px black;
  animation: abrir 1s;
  overflow-y: auto;
}

.UdemyLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.Udemy h1,
.Udemy h2,
.Udemy p {
  color: white;
  position: inherit;
  animation: abrirLetras 2s;
  text-align: left !important;
  font-family: "Baloo Da 2", sans-serif;
  margin: 0px;
}

.Modulo1 button {
  position: absolute;
  left: 50px;
  top: 80vh;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  animation: aparecer 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

button h3 {
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Heebo", sans-serif;
  padding: 0px;
  margin: 0px;
}

.Udemy img {
  width: 140px;
  filter: invert(0.4) sepia(1) saturate(10%) brightness(10);
  animation: abrirLogo 1s;
}

.Politecnico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  height: 50%;
  padding: 30px;
  background-image: url(../../../../img/AcademiaLogos/7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #40403f;
  box-shadow: 0px 0px 10px black;
  animation: abrir 1s;
  overflow-y: auto;
  overflow-x: hidden;
}

.PolitecnicoLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.Politecnico img {
  width: 180px;
  filter: invert(0.4) sepia(1) saturate(10%) brightness(10);
  animation: abrirLogo 1s;
}

.Politecnico h1,
.Politecnico h2,
.Politecnico p {
  color: white;
  position: inherit !important;
  animation: abrirLetras 2s;
  text-align: left !important;
  font-family: "Baloo Da 2", sans-serif;
  margin: 0px;
}

.SheWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  height: 50%;
  padding: 30px;
  background-image: url(../../../../img/AcademiaLogos/8.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #40403f;
  box-shadow: 0px 0px 10px black;
  animation: abrir 1s;
  overflow-y: auto;
  overflow-x: hidden;
}

.SheWorksLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.SheWorks img {
  width: 250px;
  filter: invert(0.4) sepia(1) saturate(10%) brightness(10);
  animation: abrirLogo 1s;
}

.SheWorks h1,
.SheWorks h2,
.SheWorks p {
  color: white;
  position: inherit !important;
  animation: abrirLetras 2s;
  text-align: left !important;
  font-family: "Baloo Da 2", sans-serif;
  margin: 0px;
}

.Sena::-webkit-scrollbar,
.Udemy::-webkit-scrollbar,
.Politecnico::-webkit-scrollbar,
.SheWorks::-webkit-scrollbar,
.CompetenciasTexto::-webkit-scrollbar {
  -webkit-appearance: none;
}

.Sena::-webkit-scrollbar:vertical,
.Udemy::-webkit-scrollbar:vertical,
.Politecnico::-webkit-scrollbar:vertical,
.SheWorks::-webkit-scrollbar:vertical,
.CompetenciasTexto::-webkit-scrollbar:vertical {
  width: 8px;
}

.Sena::-webkit-scrollbar-button:increment,
.Sena::-webkit-scrollbar-button,
.Udemy::-webkit-scrollbar-button:increment,
.Udemy::-webkit-scrollbar-button,
.Politecnico::-webkit-scrollbar-button:increment,
.Politecnico::-webkit-scrollbar-button,
.SheWorks::-webkit-scrollbar-button:increment,
.SheWorks::-webkit-scrollbar-button,
.CompetenciasTexto::-webkit-scrollbar-button:increment,
.CompetenciasTexto::-webkit-scrollbar-button {
  display: none;
}

.Sena::-webkit-scrollbar-thumb,
.Udemy::-webkit-scrollbar-thumb,
.Politecnico::-webkit-scrollbar-thumb,
.SheWorks::-webkit-scrollbar-thumb,
.CompetenciasTexto::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
  border: none;
}

.Sena::-webkit-scrollbar-track,
.Udemy::-webkit-scrollbar-track,
.Politecnico::-webkit-scrollbar-track,
.SheWorks::-webkit-scrollbar-track,
.CompetenciasTexto::-webkit-scrollbar-track {
  border-radius: 10px;
}

.Modulo3 {
  display: flex;
  flex-direction: row;
  background-image: url(../../../../img/AcademiaLogos/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Modulo3 h1 {
  position: absolute;
  top: 193vh;
  left: 100px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
}

.Modulo3Swipper {
  width: 35vw;
  height: 43vw;
}

.img1Formacion {
  background-image: url(../../../../img/Herramientas/1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img2Formacion {
  background-image: url(../../../../img/Herramientas/2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img3Formacion {
  background-image: url(../../../../img/Herramientas/3.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img4Formacion {
  background-image: url(../../../../img/Herramientas/4.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img5Formacion {
  background-image: url(../../../../img/Herramientas/5.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img6Formacion {
  background-image: url(../../../../img/Herramientas/6.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img7Formacion {
  background-image: url(../../../../img/Herramientas/7.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img8Formacion {
  background-image: url(../../../../img/Herramientas/8.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
}

.img9Formacion {
  background-image: url(../../../../img/Herramientas/9.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img10Formacion {
  background-image: url(../../../../img/Herramientas/10.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img11Formacion {
  background-image: url(../../../../img/Herramientas/11.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img12Formacion {
  background-image: url(../../../../img/Herramientas/12.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img13Formacion {
  background-image: url(../../../../img/Herramientas/13.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img14Formacion {
  background-image: url(../../../../img/Herramientas/14.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img15Formacion {
  background-image: url(../../../../img/Herramientas/15.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img16Formacion {
  background-image: url(../../../../img/Herramientas/16.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.img17Formacion {
  background-image: url(../../../../img/Herramientas/17.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  background-size: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 90px;
}

.Modulo4 {
  display: flex;
  flex-direction: row;
  background-image: url(../../../../img/AcademiaLogos/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.Modulo4Div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.competenciasVideos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
  height: 85%;
  margin-top: 0px;
  margin-right: 10px;
}

#video {
  margin-bottom: 10px;
  margin-right: 0px;
}

.CompetenciasTexto {
  display: flex;
  align-items: flex-start;
  width: 30%;
  height: 78%;
  margin-left: 10px;
  padding: 0px 20px;
  border-radius: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.CompetenciasTexto p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  text-align: justify;
}

.Modulo4 h1 {
  position: absolute;
  top: 293vh;
  left: 100px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Heebo", sans-serif;
}

@keyframes abrir {
  from {
    height: 0%;
  }
  to {
    height: 40%;
  }
}

@keyframes abrirLetras {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}

@keyframes abrirLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  @keyframes abrir {
    from {
      height: 0%;
    }
    to {
      height: 30%;
    }
  }
  .Modulo1{
    margin-top: 70px;
    height: 210vh;
    background-image: url(../../../../img/AcademiaLogos/10.png);
  }
  .Modulo1Div, .Modulo2Div{
    margin-top:20px;
    height: 80%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .Sena, .Udemy, .Politecnico, .SheWorks{
    width: 90%;
    height: 30%;
    border-radius: 0px;
  }
  .Sena, .Politecnico, .Udemy{
    margin-bottom: 30px;
  }
  .Modulo1 h1{
    left: 20vw;
    top: 211vh
  }
  .Modulo3 h1{
    left: 20vw;
    top:311vh
  }

  .Modulo1 button{
    top:195vh;
  }

  .Modulo3Swipper{
    width: 80%;
    height: 80%;
  }

  .Modulo4{
    background-image: url(../../../../img/AcademiaLogos/9.png);
    height: 200vh;
  }
  .Modulo4 h1{
    top: 511vh;
    left: 20vw
  }
  .Modulo4Div{
    flex-direction: column;
    height: 200vh;
  }
  .competenciasVideos{
    height: 100vh;
    width: 80%;
  }
  #video{
    width: 90%;
    height: 30%;
  }

  .CompetenciasTexto{
    width: 80%;
    height: 80%;
    margin-bottom: 25vh;
  }

}