@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Splash&display=swap');
.AcademiaContainer{
    display: flex;
    position: absolute;
    top:0px;
    flex-direction: column;
    height:fit-content;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    overflow-y: visible;
    overflow-x: hidden;
    width:100%;
}

.Modulo1{
    display: flex;
    flex-direction:row;
    background-image: url(../../../../img/AcademiaLogos/1.png);
    background-repeat: no-repeat;
    background-size:cover;  
    justify-content: center;  
    width:100%;
    height: 100vh;
    
}

.Modulo1 h1{
    position: absolute;
    top: 95vh;
    left:100px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Heebo", sans-serif;
}

.Sena{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 110px;
    height: 70%;
    margin-right: 40px;
    padding: 10px;
    background-image: url(../../../../img/AcademiaLogos/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #40403F;
    border-radius: 45px;
    box-shadow: 0px 0px 10px black;
}

.Sena h1, .Sena h3 , .Sena p{
    color: white;
    position: inherit;
}

.Sena p{
    padding-top: 0px !important;
    margin: 0px !important;
}

.Sena img{
width: 75px;
filter:brightness(10) saturate(0)
}


.Udemy{
    width: 30%;
    margin-top: 110px;
    background-image: url(../../../../img/AcademiaLogos/6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70%;
    padding: 10px;
    margin-left: 40px;
    background-color: #40403F;
    border-radius: 45px;
    box-shadow: 0px 0px 10px black;
}

.Udemy h1, .Udemy h3, .Udemy p{
    color: white;
    position: inherit;
}

.Modulo2{
    display: flex;
    flex-direction:row;
    background-image: url(../../../../img/AcademiaLogos/2.png);
    background-repeat: no-repeat;
    background-size:cover;  
    justify-content: center;  
    width:100%;
    height: 100vh;
}

.Modulo2 h1{
    position: absolute;
    top: 195vh;
    left:100px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Heebo", sans-serif;
}

.Modulo3{
    display: flex;
    flex-direction:row;
    background-image: url(../../../../img/AcademiaLogos/3.png);
    background-repeat: no-repeat;
    background-size:cover;  
    justify-content: center;  
    width:100%;
    height: 100vh;
}

.Modulo3 h1{
    position: absolute;
    top: 295vh;
    left:100px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Heebo", sans-serif;
}

.Modulo4{
    display: flex;
    flex-direction:row;
    background-image: url(../../../../img/AcademiaLogos/4.png);
    background-repeat: no-repeat;
    background-size:cover;  
    justify-content: center;  
    width:100%;
    height: 100vh;
}

.Modulo4 h1{
    position: absolute;
    top: 395vh;
    left:100px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Heebo", sans-serif;
}



.AcademiaContainer blockquote{
    color: white;
    margin: 0px;
}

.AcademiaContainer p{
    width: 80%;
    margin: auto;
    padding-top: 150px;
    color: white;
    font-family: "Heebo", sans-serif;
    text-align: justify;
}
.AcademiaContainer cite{
    color: rgb(192, 145, 100);
    font-family: 'Splash', sans-serif;
    font-size: 32px;
}

.MarkTwain{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    height: 20%;
}

.MarkTwain img{
    padding-top: 150px;
    width: 75px;
    height: 75px;
    filter: invert(0.4) sepia(1) saturate(10%) brightness(10);
}

.MarkTwain p{
    width: 50%;
    margin: 0px;
    padding-top: 150px;
    color: white;
    font-family: "Heebo", sans-serif;
    text-align: justify;
}