@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");

.SobreMiBackground {
  background-image: url(../../img/Backgrounds/SobreMiBackGround.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0d0d0d;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.SobreMiModulo1 {
  height: 100vw;
  width: 100%;
}

.mySwiper1 {
  top: 170px;
  width: 27%;
  height: 35vw;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
  color: #d9c8b4;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.swiper-button-next {
  right: -2px;
}

.swiper-flip {
  overflow: hidden !important;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  height: 100%;
  width: 100%;
}

.img1 {
  background-image: url(../../img/Slider/100%/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img4 {
  background-image: url(../../img/Slider/100%/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img2 {
  background-image: url(../../img/Slider/100%/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img5 {
  background-image: url(../../img/Slider/100%/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img3 {
  background-image: url(../../img/Slider/100%/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img6 {
  background-image: url(../../img/Slider/100%/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

:root {
  --swiper-theme-color: #fffd81 !important;
}

/* Configuración pantallas de 960 de ancho */
@media screen and (max-width: 960px) {
  .SobreMiBackground {
    height: 210vh;
    flex-direction: column;
  }

  .mySwiper1 {
    top: 0px;
    margin-top: 70px;
    width: 70%;
    height: 60vh;
  }
}
