.footer{
    background-color: rgb(43, 43, 43);
    padding: 20px;
}

.letsTalk{
    padding-top: 30px;
}

.letsTalk h1, .letsTalk h2{
    color:rgb(255, 255, 255);
    font-weight: 100;
}

.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 25px 0px 0px 0px;
    align-items: center;
}

.form input{
    color: white;
    border:none;
    width: 250px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    height: 38px;
}

.form input[type=checkbox]{
    width:10px;
    outline: none;
}



.menuFooter{
    padding-top: 50px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.form div{
    width: 500px;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.form input:focus{
    outline: none;
    background-color: rgb(51, 51, 51);
    color: white;
}
.line{
    border: 1px solid rgb(51, 51, 51);
    height: 100px;
}
.tel, .email, .redesSociales{
    width: 30%;
    height: 150px;
    overflow: hidden;

}
#terminos{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding-left: 10px;
}

.tel{
    display: flex;
    flex-direction: column;
    background: url(../../img//social/wp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.tel h1, .tel h2{
    color: aliceblue;
    font-weight: 100;
}

.email{
    display: flex;
    flex-direction: column;
    background: url(../../img//social/mail.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    cursor: pointer;
}

.email h1, .email h2{
    color: aliceblue;
    font-weight: 100;
}

.redesSociales{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.redesSociales h2{
    color: rgb(255, 255, 255);
    padding: 0px 0px 12px 0px;
    font-weight: 100;
}

#send{
    width: 45px;
    height: 40px;
    border: 1px solid rgb(151, 0, 221);
    background-color: rgb(151, 0, 221);
}
#send img{
    width: 20px;
}

#send:focus, #send:active, #send:hover{
    background-color: rgb(247, 0, 255);
}

footer h2{
    color:white;
    font-weight: 100;

}

.email:focus, .email:hover, .email:active, .tel:focus, .tel:hover, .tel:active{
    filter:brightness(2)
}

.redesSociales h2:hover, .redesSociales h2:focus, .redesSociales h2:active{
    color: rgb(247, 0, 255);
}

.privacidad{
    cursor: pointer;
    padding-bottom: 20px;
}

.privacidad:focus, .privacidad:hover, .privacidad:active{
    color: rgb(247, 0, 255);
}

a{
    text-decoration: none;
}