@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');


.list{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    list-style-type: none;
    align-items: center;
    margin: auto 0px;
    background-image: url('../../img/FormacionBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#subtitle{
    float: right;
    position:absolute;
    text-align: left;
    left: 50px;
    bottom: 225px;
}

#subtitle h1{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    text-align: left;
    padding-left: 50px;
}

#subtitle h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 50px;
}

#Formacion{
    width: 60%;
    margin-bottom: 100px;
}

#btnFormacion{
    position: absolute;
    left: 50px;
    bottom: 110px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    width: 115px;
    font-size: 14px;    
    margin-left: 50px;
}

#logosMenu{
    z-index: 3;
    padding: 0px;
    margin-left: 82px;
    flex-direction: column;
    margin-top: 350px;
    width: 10%;
}

#btnCurso{       
    color:white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    width: 115px;
    background-color: rgba(0, 0, 0, 0.397);
    border: 1px solid white;
    padding: 10px 0px;    
    animation: appearFormacion 1s;
    transition-duration: 1s;  
}

#btnCurso:active, #btnCurso:focus, #btnCurso:hover{
    animation: colorBackground 1s;
    transition-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#btnFormacion:active, #btnFormacion:focus, #btnFormacion:hover{
    width: 110px;
    font-size: 12px;
    color: white;
    animation: colorBackground 1s;
    transition-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes colorBackground {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgba(255, 255, 0, 0.692);
        color:rgb(78, 78, 78);
        border:1px solid rgba(255, 255, 0, 0.692);
    }
}

@keyframes shinning {
    from{

    }
    to{
        filter:brightness(100%);
    }
}



.logo img{
    width: 75px;
}

.pequeño img{
    width: 140px;
}

.titleFormación{
    font-size: 20px;
    text-align: center;
}

.titleFormación h1{
    font-family: monospace;
    color: #736663;
    margin: 0px;
}


.logo{
    display: flex;
    width: 115px;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
}

#FormacionSena{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width:400px;
    margin-bottom: 490px;
    margin-left: 330px;
    
}

#FormacionSena img{
    
    margin: auto;
    width: 45px;
    filter: contrast(0) brightness(3);
    padding-right: 10px;
    animation: detallesFormacionLogo 1s;
    transition-duration: 1s;  

}

#FormacionSena h1{
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionSena h2{
    margin:0px;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionSena h3{
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionSena p{
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}


#FormacionPolitecnico{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width:400px;
    margin-bottom: 490px;
    margin-left: 330px;

}

#FormacionPolitecnico img{
    margin: auto;
    width: 120px;
    padding-right: 10px;
    padding-bottom: 10px;
    filter: contrast(0) brightness(3);
    animation: detallesFormacionLogo 1s;
    transition-duration: 1s;  
}

#FormacionPolitecnico h1{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionPolitecnico h2{
    margin:0px;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionPolitecnico h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionPolitecnico p{
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionUdemy{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width:400px;
    margin-bottom: 490px;
    margin-left: 330px;
}

#FormacionUdemy img{
    margin: auto;
    width: 120px;
    padding-right: 10px;
    padding-bottom: 10px;
    filter: contrast(0) brightness(3);
    animation: detallesFormacionLogo 1s;
    transition-duration: 1s;  
}

#FormacionUdemy h1{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionUdemy h2{
    margin:0px;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionUdemy h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionUdemy p{
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}


#FormacionSheWorks{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width:400px;
    margin-bottom: 490px;
    margin-left: 330px;
    
}

#FormacionSheWorks img{
    margin: auto;
    width: 150px;
    padding-right: 10px;
    padding-bottom: 10px;
    filter: brightness(3);
    animation: detallesFormacionLogo 1s;
    transition-duration: 1s;  
}

#FormacionSheWorks h1{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionSheWorks h2{
    margin:0px;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionSheWorks h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
}

#FormacionSheWorks p{
    text-align: left;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0px;
    animation: detallesFormacion 1s;
    transition-duration: 1s;  
    
}

@keyframes borderShine {
    from{}
    to{
        border-bottom: none;
    }
}

@keyframes appearFormacion {
    from{
        border: none;
        color: transparent;
        background-color: transparent;
    }
    to{
        border: 1px solid white;
        color:white;
        background-color: rgba(0, 0, 0, 0.397);
        width: 115px;
    }
}

@keyframes detallesFormacion{
    from{
        color:transparent
    }
    to{
        color: white;
    }
}
@keyframes detallesFormacionLogo {
    from{
        width: 250px;
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 1060px){
    .list{
        width: 1600;
        background-position: center;
    }
    #logosMenu{
        margin-left: 74px;
    }
    #btnCurso{        
        width: 115px;
        padding: 10px;
        margin: 0px 0px 10px 0px;
        
    }
    #btnFormacion{
        margin-left: 42px;
    }
    #FormacionSena{
        width:450px;
        margin: 0px 0px 520px 0px;
        padding: 0px;
    }
    #FormacionPolitecnico{
        width:450px;
        margin: 0px 0px 520px 0px;
        padding: 0px;
    }
    #FormacionUdemy{
        width:450px;
        margin: 0px 0px 520px 0px;
        padding: 0px;
    }
    #FormacionSheWorks{
        width:450px;
        margin: 0px 0px 520px 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 500px){
    .list{
        width: 500px;
        height: 100vh;
        background-position: center;
    }
    #FormacionSena{
        margin-left: -30px;
        width: 300px;
        padding: 0px;

    }
    #FormacionPolitecnico{
        margin-left: -30px;
        width: 300px;
        padding: 0px;    
    }

    #subtitle h1{
        text-align: left;
    }

    #subtitle h2{
        margin-bottom: 5px;
    }

    #btnFormacion{
        bottom: 90px;
    }

    #btnCurso{
        background-color: rgba(0, 0, 0, 0.295);
    }

    #logosMenu{
        margin-top: 300px;
        margin-left: 80px;
    }

    #FormacionUdemy{
        margin-left: -30px;
        width: 300px;
        padding: 0px;
    }
    #FormacionSheWorks{
        margin-left: -30px;
        width: 300px;
        padding: 0px;
    }
}
