.lenguajesContainer {
    background-image: url(../../img/LenguajesBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    list-style-type: none;
    align-items: center;
    margin: auto 0px;
    overflow: hidden;
}
.panelHerramientas{
    position: absolute;
    width: 100%;
    height: 60vh;
    top:70px;
    display: flex;
    flex-direction: column;
}

.panelTitle{
    font-size: 16px;
    color: aliceblue;
}

.titleLenguajes {
    position: absolute;
    left: 55px;
    bottom: 225px;
}

#lyh {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    text-align: left;
    padding-left: 42px;
    text-shadow: 0px 0px 5px black;
    animation: appearSlider 1s;
    transition-duration: 1s;

}

#lyh2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 42px;
    text-align: left;
    text-shadow: 0px 0px 5px black;
    animation: appearSlider 1s;
    transition-duration: 1s;

}

.herramientas {
    position:inherit;
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0px auto 0px auto;
    animation: appearTools 1s;
    transition-duration: 1s;
    top:0px;
}


.btnLenguajes button {
    position: absolute;
    left: 50px;
    bottom: 110px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    width: 115px;
    background-color: rgba(0, 0, 0, 0.281);
    font-size: 14px;
    margin-left: 50px;
    transition-duration: 1s;
}

.btnLenguajes button:active,
.btnLenguajes button:focus,
.btnLenguajes button:hover {
    color: rgb(255, 255, 255);
    background-color: #6734b9;
    border-color: #6734b9;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.397);
}

h1 {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    transition-duration: 1s;
}

h2 {
    text-align: center;
    margin: 0px;
    font-size: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    transition-duration: 1s;
}

.python {
    background: url(../../img/Herramientas/python.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.java {
    background: url(../../img/Herramientas/java.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.javascript {
    background: url(../../img/Herramientas/javascript.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.html {
    background: url(../../img/Herramientas/html.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.css {
    background: url(../../img/Herramientas/css.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.mysql {
    background: url(../../img/Herramientas/mysql.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.heidisql {
    background: url(../../img/Herramientas/HeidiSQL.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.postgresql {
    background: url(../../img/Herramientas/postgresql.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.docker {
    background: url(../../img/Herramientas/docker.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.react {
    background: url(../../img/Herramientas/react.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.node {
    background: url(../../img/Herramientas/nodejs.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.typescript {
    background: url(../../img/Herramientas/typescript.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.linux {
    background: url(../../img/Herramientas/linux.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.vs {
    background: url(../../img/Herramientas/visual.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.vscode {
    background: url(../../img/Herramientas/visual-studio-code.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.pycharm {
    background: url(../../img/Herramientas/pycharm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.git {
    background: url(../../img/Herramientas/github.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    margin: 10px;
    width: 110px;
    height: 130px;
    filter: saturate(0);
}

.python:focus,
.python:hover,
.python:hover h1,
.python:hover h2 {
    filter: saturate(2);
    color: white;
}


.java:focus,
.java:hover,
.java:hover h1,
.java:hover h2 {
    filter: saturate(1);
    color: white;
}

.javascript:focus,
.javascript:hover,
.javascript:hover h1,
.javascript:hover h2 {
    filter: saturate(2);
    color: white;
}

.html:focus,
.html:hover,
.html:hover h1,
.html:hover h2 {
    filter: saturate(1);
    color: white;
}

.css:focus,
.css:hover,
.css:hover h1,
.css:hover h2 {
    filter: saturate(1);
    color: white;
}

.mysql:focus,
.mysql:hover,
.mysql:hover h1,
.mysql:hover h2 {
    filter: saturate(10);
    color: white;
}

.heidisql:focus,
.heidisql:hover,
.heidisql:hover h1,
.heidisql:hover h2 {
    filter: saturate(2);
    color: white;
}

.postgresql:focus,
.postgresql:hover,
.postgresql:hover h1,
.postgresql:hover h2 {
    filter: saturate(2);
    color: white;
}

.docker:focus,
.docker:hover,
.docker:hover h1,
.docker:hover h2 {
    filter: saturate(2);
    color: white;
}

.react:focus,
.react:hover,
.react:hover h1,
.react:hover h2 {
    filter: saturate(2);
    color: white;
}

.node:focus,
.node:hover,
.node:hover h1,
.node:hover h2 {
    filter: saturate(2);
    color: white;
}

.typescript:focus,
.typescript:hover,
.typescript:hover h1,
.typescript:hover h2 {
    filter: saturate(2);
    color: white;
}

.linux:focus,
.linux:hover,
.linux:hover h1,
.linux:hover h2 {
    filter: saturate(2);
    color: white;
}

.vs:focus,
.vs:hover,
.vs:hover h1,
.vs:hover h2 {
    filter: saturate(2);
    color: white;
}

.vscode:focus,
.vscode:hover,
.vscode:hover h1,
.vscode:hover h2 {
    filter: saturate(2);
    color: white;
}

.pycharm:focus,
.pycharm:hover,
.pycharm:hover h1,
.pycharm:hover h2 {
    filter: saturate(2);
    color: white;
}

.git:focus,
.git:hover,
.git:hover h1,
.git:hover h2 {
    filter: saturate(2);
    color: rgb(255, 255, 255);
}

@keyframes appearTools {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }

}

@media screen and (max-width: 1000px) {
    .lenguajesContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .panelHerramientas{
        position: absolute;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
    }
    
    .panelTitle{
        font-size: 12px;
        top:40px;
        color: aliceblue;
    }
    .titleLenguajes {
        position: absolute;
        left: 55px;
        bottom: 225px;

    }

    #lyh {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        color: white;
        text-align: left;
        padding-left: 42px;
        text-shadow: 0px 0px 5px black;
    }

    #lyh2 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 2px;
        padding-left: 42px;
        text-align: left;
        text-shadow: 0px 0px 5px black;
    }

    .python {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .java {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .javascript {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .html {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .css {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .mysql {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .heidisql {
        background-size: 40px;
        width: 50px;
        height: 110px;
    }

    .postgresql {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .docker {
        background-size: 40px;
        width: 50px;
        height: 110px;
    }

    .react {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .node {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .typescript {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .linux {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .vs {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .vscode {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .pycharm {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

    .git {
        background-size: 40px;
        width: 90px;
        height: 110px;
    }

}

@media screen and (max-width: 500px) {


    .titleLenguajes {
        position: absolute;
        left: 55px;
        bottom: 150px;
    }

    #lyh {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        letter-spacing: 2px;
        color: white;
        text-align: left;
        padding-left: 0px;
        text-shadow: 0px 0px 5px black;
    }

    .btnLenguajes button {
        left: 5px
    }

    #lyh2 {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 2px;
        padding-left: 0px;
        text-align: left;
        text-shadow: 0px 0px 5px black;
    }

    .python {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .herramientas{
       top: 50px;
    }

    .java {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .javascript {
        background-size: 30px;
        margin: 0px !important;
        width: 90px;
        height: 100px;
    }

    .html {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .css {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .mysql {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
        filter: saturate(0) brightness(2);

    }

    .heidisql {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .postgresql {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .docker {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .react {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .node {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .typescript {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .linux {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .vs {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .vscode {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .pycharm {
        background-size: 30px;
        margin: 0px !important;
        width: 70px;
        height: 100px;
    }

    .git {
        background-size: 30px;
        width: 70px;
        height: 100px;
        margin: 0px !important;
    }

    h1 {
        text-align: center;
        margin: 0px;
        font-size: 12px;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        color: transparent;
        transition-duration: 1s;
    }

    h2 {
        text-align: center;
        margin: 0px;
        font-size: 8px;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        color: transparent;
        transition-duration: 1s;
        margin-bottom: 110px;
    }

    .panelHerramientas {
        overflow-y: scroll;
        font-size: 12px;
        top: 10px;
        color: aliceblue;
    }
}