.FormacionContainer{
    position: relative;
    height: 100vh;
  width: 100%;
  background-image: url(../../img/Backgrounds/FormacionBackground.jpg);
  background-color: aliceblue;
  background-position: center;
  background-size: cover;
}

.titleFormacion{
    color: black
}

.FormacionModulo1{
    display: flex;
  flex-direction: row;
  position: inherit;
  height: 70vh;
  width: 300vw;
  overflow: hidden;
}


.FormacionModulo2{
    position: relative;
    height: 30vh;
    width: 100%;
}


#FormacionTitulo {
    position: absolute;
    left: 150px;
    top: 0px;
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.651);
    font-family: "Heebo", sans-serif;
    animation: aparecer 1s;
  }

#FormacionBoton {
    position: absolute;
    left: 150px;
    top: 90px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
    outline: none;
    transition: 1s ease-in-out;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #ddd891;
    stroke-width: 3;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  #FormacionBoton:hover svg,
  #FormacionBoton:focus svg {
    stroke-dashoffset: -480;
  }

  @keyframes aparecer {
    to {
      opacity: 1;
    }
  
    from {
      opacity: 0;
    }
  }