@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');


#root {
    overflow: hidden;

}

.backOfNav {
    display: block;
    position: fixed;
    top: -20px;
    width: 110%;
    height: 90px;
    left: -20px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.navBar {
    z-index: 10;
    display: flex;
    position: fixed;
    right: 50px;
    height: 5%;
    margin: auto;
}

#aNav {
    z-index: 10;
    display: flex;
    position: fixed;
    flex-direction: column;
    text-decoration: none;
    width: 400px;
}

#aNav h1 {
    font-family: 'Allerta', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0px;
    padding-top: 17px;
    color: white;
    font-weight: 500;
}

#aNav h2 {
    margin: 0px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 16px;
    letter-spacing: 4px;
    color: white;
    font-weight: 100;
    padding-bottom: 10px;
}

.icons {
    z-index: 10;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}


.iconsDiv {
    display: flex;
    float: left;
}

.ListNav h1 {
    font-size: 16px;
    font-family: 'Staatliches', cursive;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 0px;

}

.ListNav {
    padding: 17px;
}

.ListNav img {
    width: 40px;
}

.icons li {
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position {
    display: flex;
}

#btnNavBar {
    z-index: 12;
    display: none;
    background-color: transparent;
    border: none;
}

#btnNavBar img {
    margin: 0px;
    width: 20px;
    transition-duration: 1s;

}

#btnNavBar img:focus,
#btnNavBar img:hover,
#btnNavBar img:active {
    transform: rotate(450deg);
}

@keyframes appear {
    to {
        height: 100vh;
    }

    from {
        height: 0vh;
    }
}


@keyframes appearLetter {
    to {
        color: white;
    }

    from {
        color: transparent;
    }
}

@media screen and (max-width: 1000px) {


    #btnNavBar {
        display: flex;
        position: fixed;
        flex-direction: column;
        text-decoration: none;
        right: 50px;
        top: 20px;
    }

    .iconsDiv {
        float: right;
    }

    .ListNav h1 {
        margin: 0px;
    }

    .navBar {
        position: fixed;
        right: -80px;
    }

    #aNav {
        width: 80%;
    }


    #aNav h1,
    #aNav h2 {
        text-align: left;
        padding-left: 70px;
    }

    .icons {
        background-color: rgb(43, 43, 43);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 135px;
        padding-left: 50px;
        animation: appear 1s;
        transition-duration: 1s;
    }

    .ListNav h1 {

        animation: appearLetter 2s;
        transition-duration: 2s;
    }

    .icons li {
        border-bottom: 1px solid rgb(73, 73, 73);
        width: 150px;
        align-items: flex-end;
        padding-right: 0px;
    }

    .icons li:nth-child(1) {
        margin-top: 50px;
    }

    h3 {
        font-family: 'Allerta', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 0px;
        padding-top: 17px;
        color: white;
        font-weight: 500;
    }

    h4 {
        margin: 0px;
        font-family: 'Baloo Da 2', cursive;
        font-size: 12px;
        letter-spacing: 2px;
        color: white;
        font-weight: 100;
        padding-bottom: 10px;
    }

    #AboutMe h1 {
        font-size: 40px;
    }

}



@media screen and (max-width: 500px){
    .icons{
        padding-right: 100px;
    }
    #btnNavBar{
        right: 10px;
    }
    #aNav h1 {
        font-size: 16px;
    }

    #aNav h2 {
        font-size: 12px;
    }
    .Name{
        padding: 0px;
    }

    .Name h3{
        color: rgb(92, 92, 92);
        font-size: 10px;
    }
    .Name h4{
        color: rgb(92, 92, 92);
        font-size: 9px;
    }
    #AboutMe {
        padding-left: 0px;
        
        bottom: 25px;
    }
    .btnAboutMe{
        left:10px
    }
}