@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.AboutMeContainer {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../img/SobreMiBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sliderContainer {
  height: 60vh;
  width: 100%;
  top: 70px;
  animation: appearSlider 1s;
  transition-duration: 1s;
}

.slide1 {
  background-image: url(../../img/Slider/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.slide2 {
  background-image: url(../../img/Slider/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.slide3 {
  background-image: url(../../img/Slider/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.slide4 {
  background-image: url(../../img/Slider/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.slide5 {
  background-image: url(../../img/Slider/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.slide6 {
  background-image: url(../../img/Slider/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

#AboutMe {
  position: absolute;
  bottom: 250px;
  left: 50px;
}

#AboutMe h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
  text-align: left;
  padding-left: 50px;
  text-shadow: 0px 0px 5px black;
  animation: appearSlider 1s;
  transition-duration: 1s;
}

.btnAboutMe {
  position: absolute;
  bottom: 110px;
  left: 50px;
}

.btnAboutMe button {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.144);
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  width: 115px;
  font-size: 14px;
  margin-left: 50px;
  transition-duration: 1s;
}

.AboutMeContainer p {
  width: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
}

.title {
  font-size: 20px;
  text-align: center;
  padding-top: 120px;
}

.title h1 {
  font-family: monospace;
  color: #736663;
}

.image {
  width: 390px;
}

.btnAboutMe button:active,
.btnAboutMe button:focus,
.btnAboutMe button:hover {
  color: rgb(255, 255, 255);
  background-color: #3464b9;
  border-color: #3464b9;
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.397);
}

@keyframes appearSlider {
  to {
    opacity: 1;
  }

  from {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .AboutMeContainer {
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 30%;
  }

  .sliderContainer {
    height: 60vh;
    top: 70px;
  }

  #AboutMe {
    position: absolute;
    margin-bottom: -50px;
    left: 10px;
  }

  #AboutMe h1 {
    font-size: 30px !important;
    text-align: left;
  }

  .title {
    font-size: 14px;
    padding-top: 20px;
  }

  .AboutMeContainer p {
    width: 70%;
    font-size: 18px;
  }

  .image {
    width: 290px;
  }

  .btnAboutMe {
    top: 80vh;
    left: 10px;
  }

  .slide1 {
    background-image: url(../../img/Slider/1px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .slide2 {
    background-image: url(../../img/Slider/2px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .slide3 {
    background-image: url(../../img/Slider/3px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .slide4 {
    background-image: url(../../img/Slider/4px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .slide5 {
    background-image: url(../../img/Slider/5px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .slide6 {
    background-image: url(../../img/Slider/6px.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }
}

@media screen and (max-width: 500px){
#AboutMe h1{
    position: absolute;
    width: 100vw;
    bottom: 225px !important;
}}