@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



.AboutMeContainer{
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../img/SobreMiBackground.webp');
    background-repeat: no-repeat;
    background-size:cover;
    max-width: 100vw;
    height: 100vh;
}

#AboutMe{
    position:absolute;
    bottom: 250px;
    left:50px
}

#AboutMe h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    text-align: left;
    padding-left: 50px;
    text-shadow: 0px 0px 5px black;
}
.btnAboutMe{
    position: absolute;
    bottom: 150px;
    left: 50px
}

.btnAboutMe button{
    bottom: 120px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    width: 115px;
    font-size: 14px;
    margin-left: 50px;
}

.AboutMeContainer p{
    width:30%;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;    
}

.title{
    font-size: 20px;
    text-align: center;
    padding-top: 120px;
}

.title h1{
    font-family: monospace;
    color: #736663;
}
.image{
    width: 390px;

}

.btnAboutMe button:active, .btnAboutMe button:focus, .btnAboutMe button:hover{
    width: 110px;
    font-size: 12px;
    color: white;
    animation: colorBackgroundAboutMe 1s;
    transition-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes colorBackgroundAboutMe {
    from{
        background-color: transparent;
    }
    to{
        background-color: rgb(78, 147, 194);
        border: 1px solid rgb(78, 147, 194);
        color:black;
    }
}

@media screen and (max-width: 500px) {
    .AboutMeContainer{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: 500px;
        background-size: cover;
        background-position: 41%;
    }

    #AboutMe{
        bottom:100px;
        left:10px
    }
    #AboutMe h1{
        text-align: left;
    }

    .title{
        font-size: 14px;
        padding-top: 20px;
    }
    .AboutMeContainer p{
        width: 70%;
        font-size: 18px;
    }
    .image{
        width: 290px;
    }
    .btnAboutMe{
        bottom: 0px;
        left:10px
    }
}

